* {
    font-family: 'Ubuntu', sans-serif;
}

.indexmain {
    background-color: white;
    text-align: center;
    
}

.cithead {
    text-align: center;
    font-size: 800%;
    color: black;
    margin-top: 5%;
    margin-bottom: 2%;
}

.text {
color: black;
font-size: 200%;
text-align: center;
}

@media screen and (max-width: 900px) {
.cithead {
    margin-top: 15%;

}
.text {
    font-size: 100%;
    }
    .cithead {
        font-size: 400%;
        color: black;
      
    }    
}