* {
    font-family: 'Ubuntu', sans-serif;
}

.indexmain {
    background-image: url("boomp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;

}

.promointro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    height: 30%;
}

.introtext {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    font-size: 20px;
    color: black;
    margin-bottom: 5%;
}

.howitworks {
    text-align: center;
    font-size: 600%;
    font-family: 'Ubuntu', sans-serif;;
    color: black;
    text-decoration: underline;
    padding-bottom: 5%;
    }

    #moon-trip {
        display: flex;
        color: white;
    }

    
    .moon-img {
        flex: 1;
        text-align: center;
    }
    
    .moon-img img {
        width: 80%;
        max-width: 600px;
    }
    
    .moon-info {
        flex: 1;
        padding: 20px;
        font-size: 25px;
    }
    
    
    
button {
        color: white;
        background-color: black;
        padding: 2px 2px 2px 2px;
    }

.img {
    border: 6px solid hotpink;
    border-radius: 150px;
}

@media screen and (max-width: 400px) {
    .promointro {
    margin-top: 25%;
    margin-bottom: 5%;
    width: 100%;
    height: 50%;
}
#moon-trip {
    display: flex;
    flex-direction: column;
    color: white;
}
.introtext {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    font-size: 15px;
    color: black;
    margin-bottom: 5%;
}

}

@media screen and (max-width: 950px) {
    .promointro {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 60%;
    height: 30%;
}
}
